
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
<body>
    <!-- header -->
    @Html.Partial("PartialHead")
    @Html.Partial("PartialNavbar")
    <!-- //header -->
    <!-- banner section -->
    @Html.Action("PartialFeature")
    <!-- //banner section -->
    <!-- home page about section -->
    @Html.Action("PartialAbout")
    <!-- //home page about section -->
    <!-- home page second section -->
    @Html.Action("MyResum")
    <!-- //home page second section -->
    <!-- home page services section -->
    @Html.Action("PartialService")
    <!-- //home page services section -->
    <!-- stats -->
    @Html.Action("PartialStatistic")
    <!-- //stats -->
    <!-- testimonials -->
    @Html.Action("PartialTestimonial")
    <!-- //testimonials -->
    <!-- home page video popup section -->
    @Html.Partial("PartialVideo")
    <!-- //home page video popup section -->
    <!-- Footer -->
    @Html.Partial("PartialFooter")
    <!-- //Footer -->
    <!-- all js scripts and files here -->
    @Html.Action("PartialScript")
</body>

</html>