
@{
    Layout = null;
}

<!doctype html>
<html lang="tr">
@Html.Action("PartialHead", "Portfolio")

<body>
    <!-- header -->
    @Html.Action("PartialNavbar", "Portfolio")
    <!-- //header -->
    <!-- about breadcrumb -->
    @Html.Action("PartialAbout", "About")
    <!-- //about breadcrumb -->
    <!-- about page about section -->
    @Html.Action("PartialAboutPageSection", "About")
    <!-- //about page about section -->
    <!-- about page third section -->
    @Html.Action("PartialSkillsAbout", "About")
    <!-- about page third section -->
    <!-- achievements block -->
    @Html.Action("PartialMyProject", "About")
    <!-- //achievements block -->
    <!-- Footer -->
    @Html.Action("PartialFooter", "Portfolio")
    <!-- //Footer -->
    <!-- all js scripts and files here -->
    @Html.Action("PartialScript", "Portfolio")

</body>

</html>